1 24 "@MANIFEST@"
101 ICON "@ICON@"
1 VERSIONINFO
FILEVERSION @WINDOWS_COMMA@
PRODUCTVERSION @WINDOWS_COMMA@
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "Astra PDF @VERSION@"
      VALUE "ProductName", "Astra PDF"
      VALUE "FileVersion", "@VERSION@"
      VALUE "ProductVersion", "@VERSION@"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
